<center>
<h2>Twittrare</h2></center>
<ul>
    {{#each authors as |author i|}}
        <li>
            <a href="/{{author}}" title="Hejsan">{{author}}</a>
        </li>
    {{/each}}
</ul>



